#bg {
	background: #000 url(../images/bg.jpg) no-repeat top center;
	height: 800px;
	width: 1920;
}


#l1 {
	background: #000 url(../images/bg.jpg) no-repeat top center;
	height: 800px;
	width: 1920;
}

#l2 {
	margin-top: 50px;
	height: 800px;
	wwidth: 1920;
}